/* Define CSS variables for colors */
:root {
    --primary-color:blue; 
    --blue-color: #3498db; /* Blue */
    --secondary-color: #e74c3c; /* Red */
    --background-color: #f0f0f0; /* Light gray */
    --text-color: #333; /* Dark gray */
    --primary-text-color:rgb(199, 34, 28); /* dark red*/
}

/* Background style */
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-weight:normal;

}

/* PAGE NOT FOUND text*/
p1 {
    font-size: 36px; /* font size */
    font-weight: bolder; /*  bold or other styles */
    color: var(--primary-text-color); /* text color (red)*/

}
p2 {
    font-size: 36px; /* font size */
    font-weight: bolder; /*  bold or other styles */
    color: var(--blue-color); /* text color (red)*/
}
p3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* font size for paragraph text */
    font-weight: lighter;
    color: #666; /* Text color */
    margin-bottom: 25px; /* The spacing is between all paragraphs */
}
/* header sections */
header, footer {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: white;

}

/* Navigation styles */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 0; /* Remove default margins */
    border-color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: color 0.3s ease; /* Hover transition */
}

nav a:hover {
    color: var(--secondary-color); /* Change link color on hover */
}

/* Main section styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Body-container {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    text-align: left;
   
}

/*mountain background*/
.mountain{
    background-image: url(../Images/mountain.png);
}
/* Images */

img {
    max-width: 100%;
    height: auto;
}

img.Error {
    float: left;
    margin: 5px;
    top: 100%;
    right: 0%;
    z-index: 1 ;
    width: 50%; 
    height: auto; 
}

/* Footer styles */
footer {
    padding: 10px;
    text-align: center;
}


