:root {
    --background-color:  rgba(236, 224, 224, 0.6); /* Grayish color*/
    --block-color: #2d402a; 
    --text-color: rgb(37,38,41);
    --header-text-color: rgba(226, 240, 240, 0.728);
    --text-secondary-color: #e74c3c;    /* Gorious Red  */
    --secondary-color: rgb(160, 169, 181); 
    font-size: 60%;
}
body {
    background: url(../Images/mountain.png) left bottom no-repeat fixed; /* background */
    background-size: 91%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 60px 0; 
}
header, footer {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--block-color);
    position: fixed; /* Fix header and footer in place */
    width: 100%;
    z-index: 1; /* header and footer are above other content */
}
header {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: var(--header-text-color);
    top: 0; /* Place header at the top of the viewport */
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--header-text-color);
    transition: color 0.3s ease;
}
nav a:hover {
    color: var(--secondary-color);
}
.body-container {
    padding-left: 1rem;
    padding-right: 1rem;
    left: 18%;
    bottom: 10%;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    box-sizing: border-box;
    margin-top: 90px;
}
.text-wrap {
    padding: 2px;
    background: rgba(236, 224, 224, 0.8);
    border-radius: 5px;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
.text-wrap > * {
    font-size: 22px;
}
.text-wrap p{
    font-size: 26px;
}
img.Error {
    width: 350px;
    margin-right: 85px;
    left: 5%;
    bottom: 50%;
    position: absolute;
    z-index: 2;
}
span {
    color: var(--text-secondary-color);
}
.text-wrap h1 {
    font-weight: bolder;
    font-size: 48px;
}
img.woman {
    position: absolute;
    bottom: 0%;
    left: 70%;
    max-width: 30%;
}
footer {
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--header-text-color);
    width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    body {
        background-size: cover; 
    }
 header {
        height: 50px; 
    }
     .body-container {
        left: 5%; 
        width: 90%; 
    }
    .text-wrap {
        background: rgba(236, 224, 224, 0.9); 
        width: 90%; 
    }
}
@media (min-width: 1200px) {
    body {
        background-size: 100%; 
    }
    header {
        height: 80px; 
    }
}
